<footer class="py-16 mt-16 bg-gray-200">
  <div
    class="
      container
      max-w-4xl
      text-center
      xl:flex
      justify-center
      xl:justify-between
      flex-col
      xl:flex-row
      text-gray-600
      px-16
      lg:px-0
    "
  >
    <div
      class="
        logo
        text-center
        mb-16
        flex
        justify-between
        items-center
        flex-col
        gap-y-16
      "
    >
      <img
        class="w-40 my-0 inline opacity-70"
        src="/image/neurona_logo_jp_black.svg"
        alt="ニューロナ"
      />

      <a class="inline-block w-6/12 sm:w-2/12 xl:w-6/12 border-2 border-gray-700" href="https://neurona.base.shop/" target="_blank" rel="noopener"><img class="" src="/image/nekomata_shop_banner.jpg" alt="猫又ショップ" /></a>
    </div>
    <div
      class="
        footer-links
        mx-auto
        inline-flex
        flex-grow
        justify-end
        flex-col
        md:flex-row
      "
    >
      {% include "global-nav.njk" %}
    </div>
  </div>

  <div class="text-center mt-16 text-gray-500">
    ニューロナ
    <small>neurona.jp</small>
  </div>
</footer>
