<footer class="py-16 mt-16 bg-gray-200">
  <div
    class="
      container
      max-w-4xl
      text-center
      md:flex
      justify-center
      md:justify-between
      flex-col
      md:flex-row
      text-gray-600
      px-16
      lg:px-0
    "
  >
    <div
      class="
        logo
        text-center
        mb-16
        lg:mb-0 lg:h-full lg:flex
        justify-center
        items-center
        col-span-1
      "
    >
      <img
        class="w-48 my-0 inline opacity-70"
        src="/image/neurona_logo_black.svg"
        alt="ニューロナ"
      />
    </div>
    <div
      class="
        footer-links
        mx-auto
        inline-flex
        flex-grow
        justify-end
        flex-col
        md:flex-row
      "
    >
      {% include "global-nav.njk" %}
    </div>
  </div>

  <div class="text-center mt-16 text-gray-500">
    ニューロナ
    <small>neurona.jp</small>
  </div>
</footer>
