<div class="app-header">
  <div class="container px-6 h-20 lg:h-24 flex items-center justify-between">
    <div class="flex-grow flex items-center justify-start">
      <div class="lg:hidden mr-4">
        <div class="btn-trigger" id="btn07">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <h1 class="logo flex-shrink-0 mr-8">
        <a href="/">
          <img
            class="w-20 lg:w-28 my-0 inline -translate-y-1"
            src="/image/neurona_logo_jp_white.svg"
            alt="ニューロナ"
          />
        </a>
      </h1>

      <ul class="global-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a title="News" href="/articles">News</a>
        </li>
        <li>
          <a title="Gallery" href="/gallery">Gallery</a>
        </li>
      </ul>
    </div>

    <div class="links">
      <a
        class=""
        title="Youtube"
        target="_blank"
        aria-describedby="tooltip-Youtube"
        href="https://www.youtube.com/channel/UCRKVZiebYGhWRCDxY3OA8cg" rel="noopener"
      >
        <i class="fab fa-youtube text-2xl"></i>
        <span id="tooltip-Youtube" role="tooltip">Youtube</span>
      </a>
      <a
        class=""
        title="Twitter"
        target="_blank"
        aria-describedby="tooltip-Twitter"
        href="https://twitter.com/neurona_jp" rel="noopener"
      >
        <i class="fab fa-twitter text-2xl"></i>
        <span id="tooltip-Twitter" role="tooltip">Twitter</span>
      </a>
      <a
        class=""
        title="Instagram"
        target="_blank"
        aria-describedby="tooltip-Instagram"
        href="https://www.instagram.com/neurona_jp/"
         rel="noopener"
      >
        <i class="fab fa-instagram text-2xl"></i>
        <span id="tooltip-Instagram" role="tooltip">Instagram</span>
      </a>
      <a
        class=""
        title="猫又ショップ"
        target="_blank"
        href="https://neurona.base.shop/"
         rel="noopener"
        aria-describedby="tooltip-NekomataShop"
      >
        <img
          class="w-16 m-0 rounded"
          src="/image/nekomata_shop_logo.png"
          alt="猫又ショップ"
        />
        <span id="tooltip-NekomataShop" role="tooltip">猫又ショップ</span>
      </a>
    </div>
  </div>
</div>
