<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <meta property="og:url" content="https://neurona.jp" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NEURONA.JP | ニューロナ" />
    <meta
      property="og:description"
      content="Hello,underworld. We are underground pop artist “Neurona”. Music / Video / Illustration / CG art / Web App etc"
    />
    <meta property="og:site_name" content="NEURONA.JP | ニューロナ" />
    <meta property="og:image" content="https://neurona.jp/image/ogp.png" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom"
      crossorigin="anonymous"
    />
    <title>{{ title }} | {{ site.name }}</title>
    <meta
      name="description"
      content="Hello,underworld. We are underground pop artist “Neurona”. Music / Video / Illustration / CG art / Web App etc"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/image/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/image/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/image/favicon-16x16.png"
    />
    <link rel="manifest" href="/image/site.webmanifest" />

    {% include 'ogp.njk' %}
  </head>
  <body>
    {% include "header.njk" %} {{ content | safe }}{% include "footer.njk" %}
    <div class="drawer-menu">{% include "global-nav.njk" %}</div>

    <script src="/script/index.js?ver=20210420"></script>
  </body>
</html>
