---
layout: post
pagination:
  data: articles["contents"]
  size: 1
  alias: article
permalink: "articles/{{ article.permalink }}/"
eleventyComputed:
  title: "ニューロナからのお知らせ | {{ article.title }}"
  thumbnail: "{{ article.thumbnail.url }}"
---

<div class="h-20 lg:h-24 bg-black"></div>
<div class="prose mx-auto py-8 md:py-16 px-4">
  <p class="text-sm mb-8">
    <a href="/">Home</a><i class="fal fa-angle-right mx-1"></i
    ><a href="/articles/">News</a><i class="fal fa-angle-right mx-1"></i>
    {{article.title}}
  </p>
  <h1>{{article.title}}</h1>
  <p>
    <span
      class="inline-flex rounded-full py-1 px-3 border border-gray-300 text-xs"
      >{{article.type}}</span
    >
  </p>
  <main>
    {%- if article.thumbnail -%}
    <p><img src="{{article.thumbnail.url}}" alt="{{article.title}}" /></p>
    {%- endif -%} {{ article.content | safe }}
  </main>
</div>
