---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "permalink"] });
---

<BaseLayout title="News" description="ニューロナの活動のお知らせです">
	<section>
		<ul>
		{
			response.contents.map((content: any) => (
			<li>
			{content.type}
				<a href={`/articles/${content.permalink}`}>{content.title}</a>
			</li>
			))
		}
		</ul>
	</section>
</BaseLayout>