/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.bread-crumb {
  @apply my-4 text-xs;
  a {
    @apply mx-2 first:ml-0;
  }
}

.playing-bars {
  @apply flex justify-center items-center gap-0.5;
  height: 100%;
  span {
    @apply w-1 h-4 bg-white;
    animation: playing 0.4s 0.5s infinite;
    &:nth-child(2) {
      animation-delay: 0.8s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
  &.mini-bar {
    @apply w-6;
    span {
      @apply w-0.5 h-2;
    }
  }
}

@keyframes playing {
  0% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.2);
  }
}
