<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css?ver=20210207">
    <meta property="og:url" content="https://hidetaro7.github.io/neurona-20210130/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="ニューロナ オフィシャルサイト" />
    <meta property="og:description" content="ニンゲン化したニューロナ！？4人になって今まで以上に重厚なサウンドをどうぞ。" />
    <meta property="og:site_name" content="ニューロナ" />
    <meta property="og:image" content="https://hidetaro7.github.io/neurona-20210130/image/neurona-2021.jpg" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
