<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <meta property="og:url" content="https://hidetaro7.github.io/neurona-20210130/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="ニューロナ ライブ＠仙台spaceZero 2021年1月30日 土曜日" />
    <meta property="og:description" content="ニンゲン化したニューロナ初のリアル・ライブ！？4人になって今まで以上に重厚なサウンドをどうぞ。" />
    <meta property="og:site_name" content="ニューロナ" />
    <meta property="og:image" content="https://hidetaro7.github.io/neurona-20210130/image/ogp.png" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
