<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css?ver=20210314">
    <meta property="og:url" content="https://neurona.jp" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="ニューロナ" />
    <meta property="og:description" content="Hello,underworld. We are lorita-gory-gory-rock band “Neurona”.甘ったるくて毒のあるロリータゴリゴリ系ロックバンド。音楽、動画、アニメーション、ホームページ、いろいろ作るよ！" />
    <meta property="og:site_name" content="ニューロナ" />
    <meta property="og:image" content="https://neurona.jp/image/neurona-2021.jpg" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Hello,underworld. We are lorita-gory-gory-rock band “Neurona”.甘ったるくて毒のあるロリータゴリゴリ系ロックバンド。音楽、動画、アニメーション、ホームページ、いろいろ作るよ！">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
