---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="ニューロナ" description="茅ヶ崎発、 あんぐらねこねこ音楽隊" bgImage="bg-[url(/photo-top.jpg)]">
	<section class="">
		
	</section>
</BaseLayout>