---
layout: root
pagination:
  data: articles.contents
  size: 1
  alias: article
permalink: "gallery/{{ article.permalink }}/"
eleventyComputed:
  title: "ニューロナ ライブ・ギャラリー {{ article.title }}"
  thumbnail: "{{article.thumbnail.url}}"
---

<div
  class="h-72 md:h-2/3 bg-cover bg-center flex items-center"
  style="background-image: url({{article.thumbnail.url}});"
>
  <div class="container">
    <h1 class="text-white font-bold text-3xl md:text-5xl filter drop-shadow-md">
      {{article.title}}
    </h1>
  </div>
</div>

<div class="container">
  <div class="prose max-w-none py-8">
    <p class="text-sm">
      <a href="/">Home</a><i class="fal fa-angle-right mx-1"></i
      ><a href="/gallery/">gallery</a><i class="fal fa-angle-right mx-1"></i>
      {{article.title}}
    </p>
  </div>
  <main>
    <article class="mb-8">{{ article.content | safe }}</article>
    <div class="gallery-main">{{ article.photoGallery | safe }}</div>
  </main>
</div>

<link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/lightgallery@2.2.1/css/lightgallery-bundle.min.css"
/>
<script src="https://unpkg.com/lightgallery@2.2.1/lightgallery.min.js"></script>
<script
  src="http://afarkas.github.io/lazysizes/lazysizes.min.js"
  async=""
></script>
<script>
  lightGallery(document.querySelector(".gallery-main"), {});
</script>
