@tailwind base;

@import "variables";
@import "mixins";
@import "base";

@tailwind components;
@tailwind utilities;

body,
html {
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.photo {
  background: url(../image/photo_neurona_vertical.png) no-repeat center;
}

@screen lg {
  .photo {
    background: url(../image/photo_neurona.jpg) no-repeat center;
  }
}

.footer-links {
  dl {
    @apply flex mb-8;
  }

  dt {
    @apply mb-4 font-bold text-xs text-gray-400 w-32;
  }

  li {
    @apply mb-2;
    @apply text-left;

    a {
      &:hover {
        @apply underline;
      }
    }
  }
}

@screen md {
  .footer-links {
    dl {
      @apply block mb-0;
    }
  }
}
