---
// GlobalNav component - shared navigation menu for Header and Footer
---


<dl>
  <dt>CONTENTS</dt>
  <dd>
    <ul>
      <li>
        <a title="Home" href="/">Home</a>
      </li>
      <li>
        <a title="About" href="/about">About</a>
      </li>
      <li>
        <a title="News" href="/articles">News</a>
      </li>
      <li>
        <a title="Gallery" href="/gallery">Gallery</a>
      </li>
      <li>
        <a title="Brand" href="/brand">Brand</a>
      </li>
    </ul>
  </dd>
</dl>

<dl>
  <dt>SOCIAL</dt>
  <dd>
    <ul>
      <li>
        <a
          title="Youtube"
          href="https://www.youtube.com/channel/UCRKVZiebYGhWRCDxY3OA8cg"
          >Youtube</a
        >
      </li>
      <li>
        <a title="Twitter" href="https://twitter.com/neurona_jp">Twitter</a>
      </li>
      <li>
        <a title="Instagram" href="https://www.instagram.com/neurona_jp/"
          >Instagram</a
        >
      </li>
    </ul>
  </dd>
</dl>

<dl>
  <dt>STORE</dt>
  <dd>
    <ul>
      <li>
        <a
          href="https://music.apple.com/jp/artist/%E3%83%8B%E3%83%A5%E3%83%BC%E3%83%AD%E3%83%8A/1334369411"
          >Apple Music</a
        >
      </li>
      <li>
        <a href="https://open.spotify.com/artist/0gQIqHeeJEQsTXndnNJl1P"
          >Spotify</a
        >
      </li>
      <li>
        <a href="https://music.youtube.com/channel/UCXZO9VKELoqta-iKpaPiwdA"
          >Youtube Music</a
        >
      </li>
      <li>
        <a href="https://music.line.me/webapp/artist/mi000000000e6fd2f8"
          >LINE Music</a
        >
      </li>
      <li>
        <a href="https://s.awa.fm/artist/89cb561b2459e7318d45">AWA</a>
      </li>
      <li>
        <a href="https://recochoku.jp/artist/2000952896">レコチョク</a>
      </li>
      <li>
        <a href="https://mora.jp/artist/945320/">mora</a>
      </li>
      <li>
        <a
          href="https://www.kkbox.com/jp/ja/artist/I-tWhvElGxqs7r0F0aFx808K-index-1.html"
          >KKBOX</a
        >
      </li>
      <li>
        <a href="https://music-book.jp/music/Artist/1156955/Music/aaadtjhq"
          >music.jp</a
        >
      </li>
      <li>
        <a href="https://ototoy.jp/_/default/a/203056">OTOTOY</a>
      </li>
    </ul>
  </dd>
</dl>

<dl>
  <dt>ABOUT US</dt>
  <dd>
    <ul>
      <li>
        <a href="https://twitter.com/T_o_m_o_mu">Tomo</a>
      </li>
      <li>
        <a href="https://twitter.com/Hidetaro7">Hideki</a>
      </li>
      <li>
        <a href="https://twitter.com/chikuwa_cats">ちくわ</a>
      </li>
    </ul>
  </dd>
</dl>
