---
import HeaderLink from './HeaderLink.astro';
import Logo from "../components/Logo.astro";
---

<header class="sticky top-0 h-16">
	<div class="container flex items-center justify-between gap-4 h-full">
			<a href="/" class="w-28 text-black dark:text-white">
				<Logo />
			</a>
			<div class="flex gap-x-4">
				<HeaderLink href="/about">MESSAGE</HeaderLink>
				<HeaderLink href="/video">VIDEO</HeaderLink>
				<HeaderLink href="/music">Music</HeaderLink>
				<HeaderLink href="/article">News</HeaderLink>
			</div>
			<div class="shrink">
				<div class="toggle-switch w-8 h-4">
					<input id="change-dark" type="checkbox" />
					<label for="change-dark">
						<span class="w-4 h-4"></span>
					</label>
				</div>
			</div>
			<nav class="flex items-center">
				
			</nav>
	</div>
</header>

<script>
		const toggleSwitch = document.querySelector('.toggle-switch input');
		toggleSwitch?.addEventListener('change', () => {
			document.documentElement.classList.toggle('dark');
		});
</script>