---
layout: root
title: ニューロナについて
---

<div class="h-20 lg:h-24 bg-black"></div>

<section class="profile prose max-w-none font-serif">
  <div class="container max-w-4xl px-4 lg:px-0">
    <div class="pt-20">
      <h1 class="text-3xl">ニューロナについて</h1>
    </div>
    <div class="leading-relaxed mb-12">
      <h2>ニューロナ</h2>

      <p>
        2017年12月結成。ボーカルTomoとサウンドクリエイターHidekiからなる、アンダーグラウンドポップユニット。本業がクリエイターのため音楽だけではなくWebやアプリ、ミュージックビデオなども自らで制作。
      </p>
      <p>
        結成時はTomoが化学物質過敏症という病で、柔軟剤や洗剤・整髪料・タバコなどに対するアレルギー及び中毒様の症状を起こすためライブハウスでの公演が不可能であり、SNS投稿、音源配信、インターネットライブのみという限定された環境でInstagramを中心に活動。<br />
        2020年8月、Tomoの病が寛解。
      </p>
      <p>
        コロナ禍の影響で仙台のライブハウスの経営が難しくなっているということを受け、チャリティープロジェクト「仙台ライブハウス支援プロジェクト【仙台EFFECT】」に参加しコンピレーションアルバム「Butterfly
        Effect」に音源提供。翌9月には仙台のライブハウスspace
        Zeroにて、自宅収録の配信で参加。配信のみとはいえ、初めてライブハウスイベントへの参加が実現。<br />
        2021年7月22日・23日、ライブハウスspace
        Zero＆SSM主催の2Daysライブに出演。バーチャルからリアルの世界への出現が叶った。
      </p>
      <p>
        今後は社会情勢も見つつ、よりリアルの場でのライブ活動を視野にいれている。
      </p>

      <p>
        これまでのリリースしたオリジナル曲は30曲以上に上り、絶版作品のミニアルバムやシングル含め、累計12作品ある。
      </p>
    </div>

    <div class="text-sm leading-relaxed mb-12">
      <h2>NEURONA.JP</h2>

      <p>
        Formed in December 2017. He is active mainly in music distribution
        online, and since 2018, he has been performing online live with Tomo, a
        vocalist, and Hideki, a guitar and composer, mainly on Instagram.<br />
        He creates performance videos and music videos by himself and posts them
        on SNS. There is no activity such as live house, and he enthusiastically
        produces music from pop music to hard music.
      </p>

      <p>
        It was scheduled to be the first live concert at Sendai Space Zero in
        January 2021, but due to the state of emergency, it was recorded as a
        video.<br />
        In the future, while watching the social situation, We are also
        considering live activities as well as producing new genres of music.
      </p>

      <p>
        So far, more than 30 original songs have been released, and there are a
        total of 12 songs including out-of-print mini-albums and singles.
      </p>
    </div>

    <div class="jackets">
      <img
        src="/image/jacket-ai.jpg"
        alt="突き放すよこれが愛だ君への愛だ-EP（ニューロナ）"
      />
      <img
        src="/image/jacket-nagasugita.jpg"
        alt="ナガスギタ春（ニューロナ）"
      />
      <img src="/image/jacket-utsusemi.jpg" alt="空蝉（ニューロナ）" />
      <img
        src="/image/jacket-identity.jpg"
        alt="放出アイデンティティ（ニューロナ）"
      />
      <img src="/image/jacket-riot.jpg" alt="玉虫色ライオット（ニューロナ）" />
      <img
        src="/image/jacket-soranihabureba.jpg"
        alt="ソラニハブレバ（ニューロナ）"
      />
      <img
        src="/image/jacket-nigetara.jpg"
        alt="逃げたらいーじゃん（ニューロナ）"
      />
      <img src="/image/jacket-estate.jpg" alt="エスターテ（ニューロナ）" />
      <img src="/image/jacket-utsuyume.jpg" alt="UTSUYUME（ニューロナ）" />
      <img src="/image/jacket-hebimusume.jpg" alt="蛇娘（ニューロナ）" />
      <img src="/image/jacket-yonsoku.jpg" alt="四足のヒーロー（ニューロナ）" />
    </div>
  </div>
</section>
