---
layout: root
title: ニューロナ
---

<div
  style="background-image: url(/image/hero-image.jpg)"
  class="lazyload bg-cover lg:py-0 bg-no-repeat bg-center w-screen h-[60vh] lg:h-screen relative bg-black flex justify-center items-center"
>
  {#
  <a
    href="javascript:void(0);"
    class="iframe-lightbox-link hover:opacity-60 text-white opacity-50 text-8xl"
    data-src="https://www.youtube.com/embed/zfbOjGuj8Zc?autoplay=1"
    data-padding-bottom="56.25%"
    aria-hidden="true"
    rel="lightbox"
    ><i class="fas fa-play-circle"></i
  ></a>
  #}
  <div
    class="md:text-6xl text-5xl flex justify-center leading-snug text-white font-black notosans-black container"
  >
    人はみんな、<br />ねこのしもべに<br />なっちまえ。
  </div>
</div>

<div class="bg-black py-24 px-4 text-white">
  <div class="container max-w-4xl">
    <h2 class="text-4xl my-4 text-gray-500 notosans-black">
      次のねこ時間は...
    </h2>
    {%- for article in articles.contents | reverse -%} {%- if
    article.type.indexOf("schedule") >= 0 %}
    <div class="font-bold text-xl flex items-center">
      <i class="fal fa-arrow-right mr-4"></i>
      <a href="/articles/{{article.permalink}}" class="my-2 hover:opacity-70"
        >{{article.title}}</a
      >
    </div>
    {%- endif -%} {%- endfor -%}
  </div>
</div>

<section
  class="bg-cover lg:bg-center py-80 lazyload"
  style="
    background-image: url(/image/tomo_03.jpg);
    background-position: 30% center;
  "
>
  <div
    class="container flex flex-col justify-center items-center lg:items-end gap-8"
  >
    <div
      class="text-center text-4xl md:text-5xl lg:text-7xl text-white lg:text-black"
    >
      <div class="notosans-black">
        <h2 class="mb-4 leading-none text-center">ニューロナ5年間の集大成</h2>
        <p class="text-xl text-center">11曲入り 完全リマスター フルアルバム</p>
        <p class="text-base text-center">2022.12.10 リリース</p>
      </div>
      <img
        src="/image/jacket-5th-anniversary.jpg"
        alt="ニューロナ 5th Anniversary 2017-2022"
        class="rounded-sm w-48 m-6 mx-auto"
      />
      <div class="font-bold text-xl mb-2 sm:mb-0">
        <h3 class="text-3xl mt-0 mb-4">ニューロナ 5th Anniversary 2017-2022</h3>
        <div class="aspect-video mb-6">
          <iframe
            class="w-full h-full"
            src="https://www.youtube.com/embed/mP6iQkIZqTQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        {#
        <div class="text-center">
          <ol
            class="prose text-white lg:text-black text-sm mb-4 font-normal text-left inline-block mx-auto"
          >
            <li>月と星と黒猫のワルツ</li>
            <li>365日ハロウィーン！</li>
            <li>Promise (2022 Remastered)</li>
            <li>Strange Day (2022 Remastered)</li>
            <li>サイのツノのように (2022 Remastered)</li>
            <li>在り明け (2022 Remastered)</li>
            <li>空と海と猫のワルツ (2022 Remastered)</li>
            <li>ピジョン夢物語 (2022 Remastered)</li>
            <li>四足のヒーロー (2022 Remastered)</li>
            <li>宙に葬れば-ソラニハブレバ (2022 Remastered)</li>
            <li>SHIMOBE (2022 Remastered)</li>
          </ol>
        </div>
        #}

        <a
          href="https://linkco.re/YEx3R3sd"
          rel="noopener"
          target="_blank"
          class="jumpu-outlined-button text-white border-white lg:text-black lg:border-black hover:bg-gray-100 hover:bg-opacity-20"
          >試聴・購入する</a
        >
      </div>
    </div>
  </div>
</section>

<div class="container grid grid-cols-1 lg:grid-cols-2 gap-4 py-8">
  <section class="flex flex-col items-center">
    <h2 class="text-center">
      <img
        class="lg:w-8/12 inline-block"
        src="/image/nekomata_shop_banner.jpg"
        alt="猫又ショップ"
      />
    </h2>
    <p class="text-lg text-center mb-4">
      ニューロナのグッズが買える！オンラインストア
    </p>
    <p class="text-center">
      <a
        class="jumpu-button"
        href="https://neurona.base.shop/"
        target="_blank"
        rel="noopener"
        ><i class="fa-solid fa-chevron-right mr-4"></i
        >猫又ショップでショッピング！</a
      >
    </p>
    <img
      class="my-8 h-96 object-contain"
      src="/image/fig-nekomata.png"
      alt="猫又ショップの商品の写真"
    />
  </section>
  <section class="bg-gray-100 py-8">
    <div class="container">
      <div class="relative h-0 overflow-hidden" style="padding-bottom: 56.25%">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/0kbLI09jXxo?start=85"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <h2 class="text-3xl mdtext-4xl text-center my-8 font-bold">
        Re:Shinjuku projectに取り上げられました
      </h2>

      <div class="prose mx-auto text-center">
        <p>
          2022年1月16日（日）、新宿 Cat’s
          holeで行われたニューロナのライブが、新宿区文化観光産業部文化観光課
          文化芸術復興支援事業が担当する動画配信サイトに取り上げられました。
        </p>
        <p>
          <a
            href="https://re-shinjuku.jp/movie/%e3%83%8b%e3%83%a5%e3%83%bc%e3%83%ad%e3%83%8a-%e7%8c%ab%e3%81%ae%e7%88%aa%e7%a0%94%e3%81%8e-%e5%ba%8f%e7%ab%a0-%e3%80%80%ef%bc%a0%e6%96%b0%e5%ae%bf-cats-hole/"
            >Re:Shinjuku projectで詳しく見る</a
          ><br />
          <span class="text-xs">（1分25秒あたりからライブ本番開始です）</span>
        </p>
      </div>
    </div>
  </section>
</div>

<div class="container py-8 px-4">
  <h2 class="text-4xl notosans-black text-center mb-8">ライブ・ギャラリー</h2>
  <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4">
    {%- for article in articles.contents -%} {%- if article.type[0] !==
    "schedule" %}
    <li>
      <a
        href="/gallery/{{article.permalink}}"
        class="w-full bg-cover bg-center flex justify-center items-center text-white font-bold relative transform-gpu hover:scale-105 transition-all rounded hover:sepia"
        style="background-image: url({{article.thumbnail.url}}); padding-top: 100%"
      >
        <span
          class="absolute top-0 left-0 right-0 bottom-0 p-8 flex justify-center items-center md:text-xl"
        >
          {{article.title}}</span
        >
      </a>
    </li>
    {%- endif -%} {%- endfor -%}
  </ul>
</div>

<div class="container mx-auto mt-6 xl:my-8 relative">
  <h2 class="text-center notosans-black text-4xl mb-8">動画でニューロナ</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/hchzIl0ld7A?start=92"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/6dhXZTpcuyI?start=92"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/DLlxoecYdOs?start=92"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/0ptLIbWYdU4?start=92"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/37lgHeFBn-Y"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/huZmKjAS5Xk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/YJ7Cr9leTBk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/pFMHy0yDgW4"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/X2lcs9VgeQk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="youtube-wrapper">
      <iframe
        class="block mx-auto w-full h-full"
        src="https://www.youtube.com/embed/AvBQDZ0sETQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div class="container max-w-xl my-32 text-center prose">
  <h2 class="text-4xl font-bold text-center my-4">about NEURONA.JP</h2>
  <a href="/about" class="">私たち、ニューロナについて</a>
</div>

<div class="container mx-auto mt-16">
  <section class="release prose max-w-none">
    <h2 class="text-5xl text-center">RELEASED</h2>
    <h3 class="text-4xl text-center mb-14">ALBUM / EP</h3>
    <div class="release-items px-4 md:px-0 grid md:grid-cols-3 gap-4">
      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E3%83%8A%E3%82%AC%E3%82%B9%E3%82%AE%E3%82%BF%E6%98%A5-ep/1527718465"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E7%A9%BA%E8%9D%89-ep/1529845355"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E7%8E%89%E8%99%AB%E8%89%B2%E3%83%A9%E3%82%A4%E3%82%AA%E3%83%83%E3%83%88/1551296505"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E6%94%BE%E5%87%BA-%E3%82%A2%E3%82%A4%E3%83%87%E3%83%B3%E3%83%86%E3%82%A3%E3%83%86%E3%82%A3-ep/1520538261"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E9%80%83%E3%81%92%E3%81%9F%E3%82%89%E3%81%84%E3%83%BC%E3%81%98%E3%82%83%E3%82%93-ep/1490938738"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E8%9B%87%E5%A8%98-single/1531289684"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/utsuyume-single/1526294262"
      ></iframe>
    </div>

    <h3 class="text-4xl text-center mb-14">SINGLE</h3>
    <div class="release-items px-4 md:px-0 grid md:grid-cols-3 gap-4">
      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E3%82%A8%E3%82%B9%E3%82%BF%E3%83%BC%E3%83%86-single/1520534591"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E3%82%BD%E3%83%A9%E3%83%8B%E3%83%8F%E3%83%96%E3%83%AC%E3%83%90-single/1488200619"
      ></iframe>

      <iframe
        allow="autoplay *; encrypted-media *; fullscreen *"
        frameborder="0"
        height="450"
        style="
          width: 100%;
          max-width: 660px;
          overflow: hidden;
          background: transparent;
        "
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/jp/album/%E5%9B%9B%E8%B6%B3%E3%81%AE%E3%83%92%E3%83%BC%E3%83%AD%E3%83%BC-2020ver-single/1543863425"
      ></iframe>
    </div>
  </section>
</div>
<img
  class="mt-16 h-96 object-cover mx-auto w-full"
  src="/image/tomo_01.jpg"
  alt="ニューロナ Tomoの写真"
/>
