<header class="app-header sticky top-0 bg-black">
  <div
    class="max-w-6xl mx-auto px-4 flex items-center justify-between gap-4 h-16"
  >

        <a class="flex-shrink-0" href="{{ '/' | url }}">
          <img
            class="w-20 lg:w-28 my-0 inline -translate-y-1"
            src="/image/neurona_logo_jp_white.svg"
            alt="{{ site.name }}"
          />
        </a>

    {% include 'partials/header_nav.njk' %}

    <div class="links">
      <a
        class="group"
        title="Youtube"
        target="_blank"
        aria-describedby="tooltip-Youtube"
        href="https://www.youtube.com/channel/UCRKVZiebYGhWRCDxY3OA8cg"
        rel="noopener"
      >
        <span class="icon-[mdi--youtube] text-2xl"></span>
        <span id="tooltip-Youtube" role="tooltip" class="![transform:translate(-50%,_150%)_scale(0)] group-hover:![transform:translate(-50%,_150%)_scale(1)]">Youtube</span>
      </a>
      <a
        class="group"
        title="Twitter"
        target="_blank"
        aria-describedby="tooltip-Twitter"
        href="https://twitter.com/neurona_jp"
        rel="noopener"
      >
        <span class="icon-[ri--twitter-x-fill] text-2xl"></span>
        <span id="tooltip-Twitter" role="tooltip" class="![transform:translate(-50%,_150%)_scale(0)] group-hover:![transform:translate(-50%,_150%)_scale(1)]">Twitter</span>
      </a>
      <a
        class="group"
        title="Instagram"
        target="_blank"
        aria-describedby="tooltip-Instagram"
        href="https://www.instagram.com/neurona_jp/"
        rel="noopener"
      >
        <span class="icon-[mdi--instagram] text-2xl"></span>
        <span id="tooltip-Instagram" role="tooltip" class="![transform:translate(-50%,_150%)_scale(0)] group-hover:![transform:translate(-50%,_150%)_scale(1)]">Instagram</span>
      </a>
      <a
        class="group"
        title="猫又ショップ"
        target="_blank"
        href="https://neurona.base.shop/"
        rel="noopener"
        aria-describedby="tooltip-NekomataShop"
      >
        <img
          class="w-16 m-0 rounded"
          src="/image/nekomata_shop_logo.png"
          alt="猫又ショップ"
        />
        <span id="tooltip-NekomataShop" role="tooltip"  class="![transform:translate(-50%,_150%)_scale(0)] group-hover:![transform:translate(-50%,_150%)_scale(1)]">猫又ショップ</span>
      </a>
    </div>
  </div>
</header>
